@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  font-family: 'Montserrat-Regular';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#video {
  position: fixed;
  z-index: -1;
  width: 100%;
  filter: blur(10px);
}

.card {
  box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
}

.card-img {
  height: 300px;
}